<div class="container">
	<div class="row">
		<button class="btn btn-primary" (click)="recordClicks()">Display Details</button>
		<p *ngIf="displayText">Secret Password = tuna</p>
		<ol>
			<!-- <li *ngFor="let stamp of clicks; let i = index" [ngClass]="{ blue: i+1>4 }">{{stamp | date : "MMM d, y h:mm:ss a"}}</li> -->
			<li 
				*ngFor="let stamp of clicks; let i = index" 
				[ngClass]="{ blue: i+1>4 }"
				[innerText]="stamp"
				>
			</li>
<!-- 			<li 
				*ngFor="let stamp of clicks; let i = index" 
				[ngStyle]="{ backgroundColor: i+1>4?'blue':'transparent' }"
				[innerText]="stamp"
				>
			</li> -->
		</ol>		
	</div>
</div>